@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');
*{
	margin:0;
	padding: 0;
	font-family: 'Poppins', sans-serif
}
.header{
    min-height: 110vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,10,10,0.7),rgba(4,10,10,0.7)),url(https://i.postimg.cc/2yYr0QXw/hotel.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	
}
.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
    

}

#menu{
  background-color:#101112;
  
}
.logo img{
    width: 130px;
    margin-top: 20px;
    margin-left: 10px;
}
.navbar .nav > li > a {
  line-height: 30px;

}

#bar{
  display: inline;
   margin-top: 10px;
  
  
}

#bar{

  margin-left:210px;
  

}
.navbar li a, .navbar {
    color: white !important;
    font-size: 12px;
    transition: all 0.6s 0s;
    margin-top: -10px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}

@media only screen and (max-width: 700px) {
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');
.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
    }
#menu{
  background-color: #101112;
}
.logo img{
    width: 110px;
 margin-top:25px;
  
}
ul.netlify-identity-menu {
    display: inline-block !important;
}	
#myNavbar{
  margin-top: 20px;
}
.navbar .nav > li> a {
  line-height: 20px;
margin-top: 10px;
}
#but{
margin-top:15px;
  margin-right:10px;
  margin-bottom:-0px;
  }

.navbar li a, .navbar {
    color: white !important;
    font-size: 10px;
    transition: all 0.6s 0s;
}
.navbar-toggle {
    background-color: transparent  !important;
    border: 0;
    font-size: 15px;
  width:
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}
 }
	
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
    paddin
    font-size: 62px;
  color:#95B9C7;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;

}

nav .fa{
	display: none;
}
@media(max-width: 700px){
	.nav-links {
		font-size:20px; 
    margin-top:-20px;
    }
    .nav-links ul li a{
      padding:20px px;
      font-size:10px;
    
	}
	.text-box h1{
		font-size: 20px;
	}
}
.course{
	width: 90%;
	margin: 20px;
	text-align:center;
	padding-top: 20px;
}
h1{
	font-size: 36px;
	font-weight: 600;

}
p{
	color:#777;
	font-size: 14px;
	font-weight: 300px;
	line-height: 22px;
	padding: 10px;

}
.row{
	margin-top: 5%;
	display:flex;
	justify-content: space-between;
}
.course-col{
	flex-basis: 31%;
	background: #C0C0C0;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.course-col:hover{

	box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);

}
@media(max-width: 700px){
	.row{
	  flex-direction: column;
	}
}


.campus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top:20px;
}
.campus-col{
	flex-basis: 32%;
	border-radius: 20px;
	margin-bottom: 30px
	position:relative;
	overflow: hidden;
}

.campus-col img{
	width: 100%;
}

.game:hover{
	background: rgba(226,0,0,0.7);
}
.ame h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
  }
.testimonials{

	width: 80%;

	margin: auto;

	padding-top: 100px;

	text-align: center;

}

.testimonials-col{



	flex-basis: 44%;

	border-radius: 10px;

	margin-bottom: 5%;

	text-align: left;

	background: #ffdccc;

	padding:25px;

	cursor: pointer;

	display: flex;

}

.testimonials-col img{

	height: 40px;

	margin-left: 10px;

	margin-top: 15px;

	margin-right: 30px;

	border-radius: 50%

}

.testimonials-col p{

	text-align: center;

	padding-top: 0;

}

.testimonials-col h3{

	margin-top: 15px;

	text-align: left;

}

.testimonials-col fa{

	color: #44336;

}



.cta{

	margin: 100px auto;

	width: 80%;

	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://i.postimg.cc/BQ5TMYFR/poll.jpg);

	background-position: center;

	background-size: cover;

	border-radius: 10px;

	text-align: center;

	padding: 100px 0;

}

.cta h1{

	color:#fff;

	margin-bottom: 40px;

	padding:0;

}

@media(max-width: 700px){

	.cta h1{

		font-size: 24px;

	}

}

.footer{

	width: 100%;

	text-align: center;

	padding: 10px 10;



}

.footer h4{

	margin-bottom:25px;

	margin-top: 0;

	font-weight: 600;

}
li.netlify-identity-item {
   
    list-style: none !important;
    padding:0px 14px !important;
}
ul.netlify-identity-menu {
    display: flex !important;
}
